<div class='container'>
	<h1>Lessons</h1>

	<dl>
		<% @lessons.each do |lesson| %>
			<dt><strong><a href="/lessons/<%= lesson.id %>"><%= lesson.number%>. <%= lesson.name %></a></strong></dt>
		<% end %>
	</dl>

	<a href ='/lessons/new' class = "btn btn-success">Add Lesson</a>
</div>