<div class='container'>

	<h1>Lessons</h1>
	<h2><%= @lesson.name%></h2>

	<p><%= @lesson.information%> </p>

<!-- 
	<form class = "form-inline" action ="/lessons" method="post">
		<label for ="lesson_name"></label>
		<input class = "form-control" id ="lesson_name" name ="name" placeholder= <%= @lesson.name %> type = "text">
		<label for ="lesson_information"></label>
		<input class = "form-control" id ="lesson_infomration" placeholder= <%= @lesson.information %> name = "information" type ="text">
		<button class="btn btn-warning">UPDATE</button>
	</form>
 -->
</div>