<div class='container'>

	<h1>Lessons</h1>
	<h2><%= @lesson.name%></h2>

	<p><%= @lesson.information%> </p>

	<a href = "/lessons/edit/<%= @lesson.id%>" class = "btn btn-info btn-sm">Edit</a>
	<a href = "/lessons/" class = "btn btn-info btn-sm">Main Menu</a>


</div>